<%# Шаблон, которые будет выводить вопрос и варианты ответа на странице игры %>

<% game = game_question.game %>
<% help = game_question.help_hash %>

<div class="alert alert-info text-center">
  <h2><%= game_question.text %></h2>
</div>

<div class="row">
  <% game_question.variants.each do |letter, variant| %>
    <%# Если была использована подсказка 50/50, нам нужно проверить, есть ли вариант среди оставшихся %>
    <% if !help.key?(:fifty_fifty) || help[:fifty_fifty].include?(letter) %>
      <div class="col-md-6 buffer-top">
        <%= link_to content_tag(:span, letter.upcase, class: 'variant') + ": #{variant}",
                    answer_game_path(game, letter: letter),
                    method: :put,
                    remote: true,
                    class: 'btn btn-block btn-default btn-variant'
        %>
      </div>
    <% end %>
  <% end %>
</div>
